.back-button {
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background-color: #008B8B;
    border: none;
    color: white;
    font-size: 18px;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Más arriba */
    right: 10px; /* En la esquina derecha */
  }
  