.back-button {
  width: 1.18vw; /* Tamaño más pequeño */
  height: 3.2vh; /* Tamaño más pequeño */
  background-color: #008B8B; /* Color de fondo del botón */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  font-size: 18px; /* Tamaño de la fuente del texto */
  padding: 0; /* Sin padding interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  position: absolute; /* Posición absoluta para colocarlo en la tarjeta */
  top: 0px; /* Ajustar para mover el botón más arriba */
  right: 15px; /* Asegurar que esté a la derecha */
}

.back-button:hover {
  background-color: #00CED1; /* Color de fondo al pasar el cursor */
  top: -1.4px; /* Mover el botón más arriba al pasar el cursor */
  width: 1.28vw; /* Aumentar el ancho del botón al pasar el cursor */
  height: 3.5vh; /* Aumentar la altura del botón al pasar el cursor */
}

/* Media query para smartphones */
@media (max-width: 600px) {
.difficulty-selection {
  height: 100%;
  background-color: #fff; /* Quitar el fondo para la vista móvil */
}

.back-button {
  width: 12%; /* Ajustar el ancho para móviles */
  height: 120%; /* Ajustar la altura para móviles */
  background-color: #008B8B; /* Color de fondo del botón */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  font-size: 18px; /* Tamaño de la fuente del texto */
  padding: 0; /* Sin padding interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  position: absolute; /* Posición absoluta para colocarlo en la tarjeta */
  top: -8px; /* Ajustar para mover el botón más arriba */
  right: 10px; /* Asegurar que esté a la derecha */
}

.back-button:hover {
  background-color: #00CED1; /* Color de fondo al pasar el cursor */
  top: -10px; /* Mover el botón más arriba al pasar el cursor */
  width: 13%; /* Aumentar el ancho del botón al pasar el cursor */
  height: 130%; /* Aumentar la altura del botón al pasar el cursor */
}
}
