<div class="Triangles">
    <div id="tsparticles"><canvas data-generated="true" style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important; background-color: rgb(0, 0, 0); pointer-events: none;" aria-hidden="true" width="412" height="914"></canvas></div>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] =
                c[a] ||
                function () {
                    (c[a].q = c[a].q || []).push(arguments);
                };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "8q4bxin4tm");
    </script>
    <script async="" defer="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CEAI6KJL&amp;placement=particlesjsorg" id="_carbonads_js"></script><div id="carbonads"><span>

<span class="carbon-wrap">
<a href="https://srv.carbonads.net/ads/click/x/GTND427LC6BIPKQLCV74YKQUCVYDL5QNCTBITZ3JCA7D4KQECEYDC23KC67IVKQWF6SI6537C6AD4KJYCWBIE27MHEYI5KJJCWYD6K3ECTNCYBZ52K" class="carbon-img" target="_blank" rel="noopener sponsored">
    <img src="https://srv.carbonads.net/static/30242/676f94fdaf1e8ed0c1efa0d1d9930081e9b4c599" alt="ads via Carbon" border="0" height="100" width="130" data-no-statview="no" style="max-width: 130px;">
</a>
<a href="https://srv.carbonads.net/ads/click/x/GTND427LC6BIPKQLCV74YKQUCVYDL5QNCTBITZ3JCA7D4KQECEYDC23KC67IVKQWF6SI6537C6AD4KJYCWBIE27MHEYI5KJJCWYD6K3ECTNCYBZ52K" class="carbon-text" target="_blank" rel="noopener sponsored">
    Design and Development tips in your inbox. Every weekday.
</a>
</span>
<a href="http://carbonads.net/?utm_source=particlesjsorg&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon" class="carbon-poweredby" target="_blank" rel="noopener sponsored">ads via Carbon</a>
</span></div>
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/preset-triangles@3.0.2/tsparticles.preset.triangles.bundle.min.js"></script>
    <script type="text/javascript">
        (async () => {
            await tsParticles.load({ id: "tsparticles", options: { preset: "triangles" } });
        })();
    </script>
</div>
<router-outlet></router-outlet>
