.main-screen {
  display: flex; /* Utiliza Flexbox para centrar los elementos hijos */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  height: 100vh; /* La altura de la pantalla completa */
  position: relative; /* Asegura que el contenedor tenga posición relativa */
  z-index: 1; /* Asegura que el contenedor esté por encima del fondo */
}

.card {
  width: 100%; /* La tarjeta ocupa el 100% del ancho del contenedor padre */
  max-width: 300px; /* El ancho máximo de la tarjeta es 300px */
  height: 600px; /* La altura de la tarjeta es el doble de su ancho máximo */
  padding: 20px; /* Espaciado interno de 20px */
  background-image: url('/assets/Back1.png'); /* Imagen de fondo de la tarjeta */
  background-size: cover; /* La imagen de fondo cubre completamente la tarjeta */
  background-position: center; /* La imagen de fondo está centrada */
  background-repeat: no-repeat; /* La imagen de fondo no se repite */
  background-color: #fff; /* Color de fondo blanco */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  text-align: center; /* El texto dentro de la tarjeta está centrado */
  display: flex; /* Utiliza Flexbox para los elementos hijos */
  flex-direction: column; /* Los elementos hijos están dispuestos en columna */
  position: relative; /* Necesario para que z-index funcione */
  z-index: 2; /* Asegura que la tarjeta esté por encima del contenedor */
}

h1 {
  margin-top: -80px; /* Subir el texto más cerca del logo */
  margin-bottom: 10px; /* Mantener la separación entre el texto y los botones */
  font-size: 22px; /* Ajustar tamaño de la fuente */
  color: #F9E08D; /* Cambiar el color del texto */
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, -3px -3px 0 #000; /* Agregar borde negro más grueso */
  font-family: 'Kumar One', cursive; /* Cambiar la fuente a Kumar One */
}

.buttons-container {
  margin-top: 60px; /* Bajar ligeramente los botones */
}

button {
  display: block; /* Los botones se muestran como bloques */
  width: 100%; /* Los botones ocupan el 100% del ancho de su contenedor */
  height: 24%; /* La altura de los botones es el 24% de su contenedor */
  padding: 10px; /* Aumentar padding para botones más grandes */
  margin: 8px 0; /* Reducir margen entre botones */
  font-size: 18px; /* Aumentar tamaño de la fuente en los botones */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #00ced17c; /* Color de fondo nuevo */
  color: white; /* Color del texto blanco */
  cursor: pointer; /* El cursor cambia a puntero al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  font-family: 'Merriweather', serif; /* Cambiar la fuente a Merriweather */
}

button:hover {
  background-color: #00CED1; /* Color de fondo al pasar el cursor */
  transform: scale(1.06); /* Aumentar el tamaño del botón al pasar el cursor */
}

/* Media query para smartphones */
@media (max-width: 600px) {
  .main-screen {
    height: 100%; /* La altura del contenedor es el 100% de la pantalla */
    background-color: #fff; /* Quitar el fondo para la vista móvil */
  }

  .card {
    width: 100%; /* La tarjeta ocupa el 100% del ancho del contenedor */
    height: 100vh; /* La tarjeta ocupa toda la altura de la pantalla */
    max-width: none; /* Sin ancho máximo */
    border-radius: 0; /* Sin esquinas redondeadas */
    box-shadow: none; /* Sin sombra */
    padding: 20px; /* Espaciado interno de 20px */
  }

  .logo {
    margin-top: 40px; /* Ajustar el espacio superior */
  }

  h1 {
    margin-top: -80px; /* Ajustar la posición del texto para dispositivos móviles */
    margin-bottom: 10px; /* Mantener la separación entre el texto y los botones */
  }

  .buttons-container {
    margin-top: 60px; /* Bajar ligeramente los botones */
  }

  button {
    margin: 5px 0; /* Ajustar el margen entre botones */
    font-family: 'Merriweather', serif; /* Cambiar la fuente a Merriweather */
  }
}
