.back-button {
  width: 45px;
  height: 45px;
  background-color: #008B8B; /* Cambiar el color del botón de retroceso */
  border: none;
  color: white;
  font-size: 18px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 45%;
}

.back-button:hover {
  background-color: #00CED1; /* Color de fondo al pasar el cursor */
  transform: scale(1.1); /* Agrandar el botón al pasar el cursor */
}